<head>
    <meta charset="utf-8">
    <title>ログイン</title>
</head>
<body>
<a href="make">新規作成</a><br>
<h1 style="text-align: center">消費カロリーノート</h1>
<p>{{msg | safe}}</p>
<table align="center">
    <form method="POST" action="login">
        <tr><td align="right">ユーザー名</td><td><input type="text" name="username" required></td></tr>
        <tr><td align="right">パスワード</td><td><input type="password" name="password" required></td></tr>
        <tr><td align="right" colspan="2"><input type="submit" value="認証"></td></tr>
    </form>
</table>
</body>