{( msg|safe )}
<table align="center">
    <form method="POST" action="make">
        <tr><td align="right">ユーザー名</td><td><input type="username" name="username" required></td></tr>
        <tr><td align="right">性別</td><td><input type="sex" name="sex" required></td></tr>
        <tr><td align="right">年齢</td><td><input type="age" name="age" required></td></tr>
        <tr><td align="right">パスワード</td><td><input type="password" name="password" required></td></tr>
        <tr><td align="right">体重</td><td><input type="weight" name="weight" required></td></tr>
        <tr><td colspan="2" align="right"><input type="submit" value="作成"></td></tr>
    </form>
</table>

