<a href="home">戻る</a><br>
{{msg | safe}}
<body>
<table align="center">
    <form method="POST" action="search">
        <tr>
            <td>30日以内の日付で記録されたカロリーデータを取得します</td><br>
            <td>性別を選択してください</td>
        </tr>
        <tr>
            <th><label>男性<input type="radio" name="format1" value="M" checked></label></th>
            <th><label>女性<input type="radio" name="format1" value="F"></label></th>
        </tr>
        <tr>
            <td>形式を選択してください</td>
            <td>
                <label>JSON<input type="radio" name="format2" value="JSON" checked></label><br>
                <label>XML<input type="radio" name="format2" value="XML"></label>
            </td>
            <td align="center" colspan="2"><input type="submit" value="検索"></td>
        </tr>
    </form>
</table>
</body>